[Unit]
Description=DO Boss Timers Discord Bot
After=network.target

[Service]
Type=exec
User=ubuntu
WorkingDirectory=/home/ubuntu/DO-Boss-Timers-Discord-BOT
ExecStart=/home/ubuntu/.bun/bin/bun src/index.ts
EnvironmentFile=/home/ubuntu/DO-Boss-Timers-Discord-BOT/.env

[Install]
WantedBy=multi-user.target
